.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-card > h1 {
    font-family: 'Anek Devanagari';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}